input,select{
    max-width: fit-content;
}

#modalBody{
  text-align: center;
  border-radius: 12px;
  background-color: white;
  
}
#continue{
    border:black 2px solid;
}
#alert{
    color: red;
}

mat-icon:hover {
    cursor: pointer;
  }
  a.nav-link.active:hover,
a.nav-link[aria-current='page']:hover {
  cursor: pointer;
}
.wholecontainer{
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9d2;
    box-shadow: 0 0 6px 0 rgb(41, 167, 2)
  }
  
  .wholecontainer input[type="number"],.wholecontainer select
  {
    display: block;
    margin: 0 auto; /* Center the inputs horizontally */
    
  }
  
  #cancel{
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.6s ease-in-out;
  }
  
  #submit{
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
    border-radius: 30px;
  }
  
  #submit:hover{
    background-color: white;
    color: #199709;
    border:black solid 1px;
  }
  #cancel:hover{
    background-color: white;
    color: rgb(219, 0, 0);
    border:black solid 1px;
  }