mat-icon:hover {
    cursor: pointer;
  }
  a.nav-link.active:hover,
a.nav-link[aria-current='page']:hover {
  cursor: pointer;
}

.employee-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.employee-list li {
  margin-bottom: 10px; /* Add space between each employee entry */
  font-size: 16px; /* Adjust the font size */
  color: #333; /* Change the text color */
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgb(41, 167, 2);
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255); /* Adjust the color and opacity as needed */
}


/* Style for the table */
.rounded-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;
  border-radius: 10px; /* Adjust the value to control the roundness */
  overflow: hidden; /* Ensures the border-radius is applied properly */
}

/* Style for table headers */
.rounded-table th {
  background-color: black;
  color: #ffffff;
  padding: 8px;
}

/* Style for table cells */
.rounded-table td {
  padding: 8px;
}

/* Style for table rows */


/* Style for table rows on hover */
.rounded-table tr:hover {
  background-color: white;
}

/* Style for the "View All Employees" button */
.btn-primary {
  background-color: #007BFF;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: #fff;
}

#submit{
  background-color: black;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
  border-radius: 30px;
}

#submit:hover{
  background-color: white;
  color: #199709;
  border:black solid 1px;
}