<br/>
<br/>
<br/>
<div class="wholecontainer">
  <mat-icon routerLink="/login" aria-label="Back" id="back">keyboard_backspace</mat-icon>
    <h2>Re-activate your account</h2>
    <small>Please enter your details</small>
    <form class="login-form" (ngSubmit)="onLogin()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div>
        <label for="password">Password:<i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="togglePasswordVisibility()" id="eye"></i></label>
        <input
                    [type]="showPassword ? 'text' : 'password'"
                    id="password"
                    name="password"
                    [(ngModel)]="password"
                    required
                  >
      </div>
      <br/>
      <button type="submit" id="submit">Re-activate account</button>
    </form>
    
</div>
<div class="modal" id="myModal" style="display: none;" >
  <div class="modal-dialog" id="Dialog">
    <div class="modal-content" id="Content">
      
      <div class="modal-body" id="modalBody">
        <h4>Your account has been re-activated</h4>
        <br/>
        <button  type="button" class="btn btn-success" id="submit"  (click)="cancel_continue()">Continue</button>
      </div>
    </div>
  </div>
</div>

