body {
    background-color: black;
}

input {
    max-width: fit-content;
}

.main-content h2, .main-content .login-container {
    text-align: center;
    color: black; /* Change the color to match the theme */
}

.login-container {
    color: white; /* Change the text color to match the theme */
    text-align: center;
}

.login-form {
    margin-top: 20px;
    text-align: center;
    
}

.login-form div {
    margin-bottom: 10px;
}

.login-form label {
    display: block;
    color: black; /* Change the label color if needed */
}

.login-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    margin-top: 10px;
    background-color: green; /* Change the background color to match the theme */
    color: white;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color:green ; /* Change the hover background color to match the theme */
}

.forgot-button {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
mat-icon:hover {
    cursor: pointer;
    
  }


  .wholecontainer{
    max-width: 500px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 0 rgb(41, 167, 2);
    margin: auto;
    

}

.wholecontainer input,.wholecontainer select
  {
    display: block;
    margin: 0 auto; 
    
  }
  
  #cancel{
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.6s ease-in-out;
  }
  
  #submit{
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
    border-radius: 30px;
  }
  
  #submit:hover{
    background-color: white;
    color: #199709;
    border:black solid 1px;
  }
  #cancel:hover{
    background-color: white;
    color: rgb(219, 0, 0);
    border:black solid 1px;
  }

  
  #cancel{
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.6s ease-in-out;
  }
  
  #submit{
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
    border-radius: 30px;
  }
  
  #submit:hover{
    background-color: white;
    color: #199709;
    border:black solid 1px;
  }
  #cancel:hover{
    background-color: white;
    color: rgb(219, 0, 0);
    border:black solid 1px;
  }

  input,select{
    max-width: fit-content;
}

#modalBody{
  text-align: center;
  border-radius: 12px;
  background-color: white;
  
}
#continue{
    border:black 2px solid;
}
#alert{
    color: red;
}

label {
  font-weight: bold;
}