<br/>
<br/>

<div class="wholecontainer">
    <mat-icon routerLink="/forgot" aria-label="Back" id="back">keyboard_backspace</mat-icon>
    <div class="row justify-content-center">
        <div class="col-md-6">
            
                    <h2 class="mb-4" style="color: black;">Reset Password</h2>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="code" style="color: black;">Reset Code</label>
                            <input type="text" class="form-control" formControlName="code" [class.is-invalid]="submitted && resetPasswordForm.get('code')?.errors?.['required']"
                                required>
                            <div *ngIf="submitted && resetPasswordForm.get('code')?.errors" class="invalid-feedback" style="color: #ff0000;">
                                <div *ngIf="resetPasswordForm.get('code')?.errors?.['required']">Reset code is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" style="color: black;">Email Address</label>
                            <input type="email" class="form-control" formControlName="email" [class.is-invalid]="submitted && resetPasswordForm.get('email')?.errors?.['required']"
                                required>
                            <div *ngIf="submitted && resetPasswordForm.get('email')?.errors" class="invalid-feedback" style="color: #ff0000;">
                                <div *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email address is required.</div>
                                <div *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Invalid email address.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" style="color: black;">New Password</label>
                            <input type="password" class="form-control" formControlName="password" [class.is-invalid]="submitted && resetPasswordForm.get('password')?.errors?.['required']"
                                required>
                            <div *ngIf="submitted && resetPasswordForm.get('password')?.errors" class="invalid-feedback" style="color: #ff0000;">
                                <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required.</div>
                                <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" style="color: black;">Confirm Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                [class.is-invalid]="submitted && resetPasswordForm.get('confirmPassword')?.errors?.['required']" required>
                            <div *ngIf="submitted && resetPasswordForm.get('confirmPassword')?.errors" class="invalid-feedback" style="color: #ff0000;">
                                <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Confirm password is required.</div>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <button id="submit" type="submit" class="btn btn-primary" >Reset Password</button>
                        </div>
                        <div *ngIf="errorMessage" class="alert alert-danger" style="color: #ff0000;">{{ errorMessage }}</div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal" id="myModal" style="display: none;" >
            <div class="modal-dialog" id="Dialog">
              <div class="modal-content" id="Content">
                
                <div class="modal-body" id="modalBody">
                  <h4>Your password has been reset!</h4>
                  <br/>
                  <button  type="button" class="btn btn-success" id="submit"  (click)="cancel_continue()">Continue</button>
                </div>
              </div>
            </div>
          </div>