<nav class="navbar navbar-expand-lg " style="background-color: #F4EEEE;">
    <a class="navbar-brand" href="#"></a>
    <img src="assets/CBT.jpg" style="width: 80px; height: 50px;">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" routerLink="/clientLanding">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bookings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="nav-link active" aria-current="page" routerLink="/calendar" >Make Booking</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="nav-link active" aria-current="page" routerLink="/ViewClientBookings">View bookings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="nav-link active" aria-current="page" routerLink="/ProvideFeedback" >Provide feedback</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Packages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="nav-link active" aria-current="page" routerLink="/ViewAvailPackages" >View available packages</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Training Modules
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ng-container *ngIf="modules.length > 0; else noModules">
                <div *ngFor="let module of modules; let last=last">
                  <li><a class="nav-link active" aria-current="page" [routerLink]="['/MaterialContent','edit',module.trainingModuleId]">{{module.trainingModuleName}}</a></li>
                  <li *ngIf="!last"><hr class="dropdown-divider"></li>
                </div>
              </ng-container>
              <ng-template #noModules>
                <div class="dropdown-item">No available modules</div>
              </ng-template>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Workouts
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="nav-link active" aria-current="page" routerLink="/Workouts" >View my workouts</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="nav-link active" aria-current="page" routerLink="/AddWorkout">Add workout</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bicycle
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="nav-link active" aria-current="page" routerLink="/Bicycle" >View my bicycles</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="nav-link active" aria-current="page" routerLink="/AddBicycle">Add bicyle</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
      
      <small>{{cartnumber}}</small>
      <mat-icon routerLink="/ViewCart">shopping_cart</mat-icon>
      <a class="navbar-brand" href="#"></a>
      <mat-icon routerLink="/view-help">help_outline</mat-icon>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item routerLink="/ViewAccount">View Account Details</button>
        <button mat-menu-item routerLink="/PrintViewIF">View/Print Indemnity Form</button>
        <button mat-menu-item routerLink="/ClientUploadIF">Upload indemnity form</button>
        <button mat-menu-item routerLink="/WorkoutReport">Workout stats report</button>
      </mat-menu>
      
      <div class="circular-button" [matMenuTriggerFor]="accountMenu" aria-label="View Account">
        <div *ngIf="clientDetails?.clientProfilePicture; else fallbackImage">
          <img src="{{ clientDetails?.clientProfilePicture }}" alt="Profile">
        </div>
        
        <ng-template #fallbackImage>
          <img src="assets/profile.jpg" alt="Image">
        </ng-template>
      </div>
      
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="nav-link active" aria-current="page" (click)="Logout()" id="logout">Logout</a>
    </div>
    
  </nav>

  <br/>
<br/>
<br/>
  <br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card" *ngIf="lastBicycle;else noBicycle">
        <div class="card-body">
          <h5 class="card-title">Your Latest Bicycle</h5>
          <div class="row">
            <div class="col-md-6">
              <!-- Display the bicycle image -->
              <img [src]="GetBrand(lastBicycle.bicycleBrandId)"  class="img-fluid" style="max-height: 150px;">
            </div>
            <div class="col-md-6">
              <p class="card-text"><strong>Bicycle Name:</strong> {{ lastBicycle.bicycleName }}</p>
              <p class="card-text"><strong>Category:</strong> {{this.GetCategory(lastBicycle.bicycleCategoryId)}}</p>
            
            </div>
          </div>
          <a routerLink="/Bicycle" class="btn btn-primary mt-3" id="submit">View More</a>
        </div>
      </div>
      <ng-template #noBicycle>
        <div class="card">
          <div class="card-body">
          <h5 class="card-title">Your Latest Bicycle</h5>
          <div class="row">
          <div class="col-md-6">
            
            <img src="assets/pedal.png"  class="img-fluid" style="max-height: 150px;">
          </div>
          <div class="col-md-6">
            <p class="card-text"><strong>Apologies:</strong> No bicycle found</p>
          </div>
        </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Training modules</h5>
          <p class="card-text">We offer a wide range of our own training modules and material aimed at providing you with perfect training routine, schedule and diet.</p>
          <p class="card-text">Access to this is included any any CBT package your purchase</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Training packages</h5>
          <p class="card-text">We offer a wide range of training packages to enhance your experience and training here at CBT.</p>
          <p class="card-text">Access to these is included any any CBT package your purchase</p>
          <a routerLink="/ViewAvailPackages" class="btn btn-primary" id="submit">View more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" *ngIf="lastWorkout;else noWorkout">
        <div class="card-body">
          <h5 class="card-title">Latest Workout</h5>
          
            
              <p class="card-text"><strong>Duration:</strong> {{convertDurationFromTimespan(lastWorkout.duration)}}</p>
              <p class="card-text"><strong>Category:</strong> {{lastWorkout.heartRate}} BPM</p>
              <p class="card-text"><strong>Distance:</strong> {{lastWorkout.distance}}km</p>
              <p class="card-text"><strong>Workout type:</strong> {{this.GetWorkoutType(lastWorkout.workoutTypeId)}} </p>
           
            
          
          <a routerLink="/Workouts" class="btn btn-primary mt-3" id="submit">View More</a>
        </div>
      </div>
      <ng-template #noWorkout>
        <div class="card">
          <div class="card-body">
          <h5 class="card-title">Your Latest Workout</h5>
          <div class="row">
          <div class="col-md-6">
           
            <img src="assets/pedal.png"  class="img-fluid" style="max-height: 150px;">
          </div>
          <div class="col-md-6">
            <p class="card-text"><strong>Apologies:</strong> No workout found</p>
          </div>
        </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your next booking</h5>

          <br/>
          <ng-container *ngIf="clientTypes.length>0;else noClientTypesFound">
            <table class="rounded-table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Timelslot</th>
                  <th>Booking Type</th>
                  <th>Reference Number</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let clientType of clientTypes">
                  <td>{{clientType.dateDate|date}}</td>
                  <td>{{clientType.timeTime}}</td>
                  <td>{{this.GetType(clientType.bookingTypeId)}}</td>
                  <td>{{clientType.referenceNum}}</td>
                </tr>
              </tbody>
            </table>
            <br/>

            <a routerLink="/ViewClientBookings" class="btn btn-primary mt-3" id="submit">View More</a>
          </ng-container>
    
          <ng-template #noClientTypesFound>
            <div class="alert">No bookings made under your name could be found.</div>
          </ng-template>
      
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">My payments</h5>
          
          <br/>
          <ng-container *ngIf="clientpaymentdata.length > 0; else nopayments">
            <table class="rounded-table">
              <thead>
                <tr>
                  <th>Client</th>
                  <th>Payment Date</th>
                  <th>Paymount Amount</th>
                  <th>Transaction Type</th>
                  <th>Payment For</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let package of clientpaymentdata">
                  <td>{{package.client}}</td>
                  <td>{{package.paymentDate|date}}</td>
                  <td>R{{package.paymentAmount}}</td>
                  <td>{{package.transactionType}}</td>
                  <td>{{package.paymentfor}}</td>
                  
                </tr>
              </tbody>
            </table>
            <br/>

            <a routerLink="/ClientPayments" class="btn btn-primary" id="submit">View More</a>
          </ng-container>
          
          <!-- Message to display when no latest packages are available -->
          <ng-template #nopayments>
            <p>No payment information available.</p>
            
          </ng-template>
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Need help?</h5>
          <p class="card-text">Forgot something or don't understand? Give us a call or click the button below to visit our help page.</p>
          <a routerLink="/view-help" id="submit" class="btn btn-primary">View help</a>
        </div>
      </div>
    </div>
  </div>
</div>


