mat-icon:hover {
    cursor: pointer;
  }

  .circular-button {
    border-radius: 50%;
    overflow: hidden;
    width: 40px; /* Adjust the width and height to your desired size */
    height: 40px;
  }

  .circular-button:hover{
    cursor: pointer;
  }
  
  .circular-button img {
    width: 100%; /* Make the image fill the circular boundary */
    height: 100%; /* Make the image fill the circular boundary */
    object-fit: cover; /* Preserve the image aspect ratio */
  }
  
  a.nav-link.active:hover,
a.nav-link[aria-current='page']:hover {
  cursor: pointer;
}

#submit{
  background-color: black;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
  border-radius: 30px;
}

#submit:hover{
  background-color: white;
  color: #199709;
  border:black solid 1px;
}

.card{
  box-shadow: 0 0 6px 0 rgb(41, 167, 2);
}
#socials{
  text-align: center;
}

#socials i:hover{
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 30px; /* Adjust this value to position the tooltip */
  left: -25px; /* Adjust this value to position the tooltip */
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip on hover */
.fa-phone:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


.rounded-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;
  border-radius: 10px; /* Adjust the value to control the roundness */
  overflow: hidden; /* Ensures the border-radius is applied properly */
}

/* Style for table headers */
.rounded-table th {
  background-color: black;
  color: #ffffff;
  padding: 8px;
}

/* Style for table cells */
.rounded-table td {
  padding: 8px;
}

/* Style for table rows */


/* Style for table rows on hover */
.rounded-table tr:hover {
  background-color: white;
}