

.cart-content {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-summary-item {
  flex: 1;
  text-align: center;
}

.cart-items {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.item-details {
  flex: 1;
}

.remove-btn {
  background-color: #b80606;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 30px;
}

.checkout-btn {
  background-color: black;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
  border-radius: 30px;
  width: 100%;
}

.checkout-btn:hover {
  background-color: white;
  color: #199709;
  border:black solid 1px;
  width: 100%;
}




mat-icon:hover {
  cursor: pointer;
}

.circular-button {
  border-radius: 50%;
  overflow: hidden;
  width: 40px; /* Adjust the width and height to your desired size */
  height: 40px;
}

.circular-button:hover{
  cursor: pointer;
}

.circular-button img {
  width: 100%; /* Make the image fill the circular boundary */
  height: 100%; /* Make the image fill the circular boundary */
  object-fit: cover; /* Preserve the image aspect ratio */
}

a.nav-link.active:hover,
a.nav-link[aria-current='page']:hover {
cursor: pointer;
}

#modalBody{
  text-align: center;
  border-radius: 12px;
  background-color: white;
  
}
#cancel{
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.6s ease-in-out;
}

#cancel:hover{
  background-color: white;
  color: rgb(219, 0, 0);
  border:black solid 1px;
}
#continue,#delete{
  border:black 2px solid;
}

.cart-container{
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 6px 0 rgb(41, 167, 2);
}