<nav class="navbar navbar-expand-lg " style="background-color: #F4EEEE;">
  <a class="navbar-brand" href="#"></a>
  <img src="assets/CBT.jpg" style="width: 80px; height: 50px;">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" routerLink="/clientLanding">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bookings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/calendar" >Make Booking</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/ViewClientBookings">View bookings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/ProvideFeedback" >Provide feedback</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Packages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/ViewAvailPackages" >View available packages</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Training Modules
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ng-container *ngIf="modules.length > 0; else noModules">
              <div *ngFor="let module of modules; let last=last">
                <li><a class="nav-link active" aria-current="page" [routerLink]="['/MaterialContent','edit',module.trainingModuleId]">{{module.trainingModuleName}}</a></li>
                <li *ngIf="!last"><hr class="dropdown-divider"></li>
              </div>
            </ng-container>
            <ng-template #noModules>
              <div class="dropdown-item">No available modules</div>
            </ng-template>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Workouts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/Workouts" >View my workouts</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddWorkout">Add workout</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bicycle
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/Bicycle" >View my bicycles</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddBicycle">Add bicyle</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
    
    <small>{{cartnumber}}</small>
    <mat-icon routerLink="/ViewCart">shopping_cart</mat-icon>
    <a class="navbar-brand" href="#"></a>
    <mat-icon routerLink="/view-help">help_outline</mat-icon>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item routerLink="/ViewAccount">View Account Details</button>
      <button mat-menu-item routerLink="/PrintViewIF">View/Print Indemnity Form</button>
      <button mat-menu-item routerLink="/ClientUploadIF">Upload indemnity form</button>
      <button mat-menu-item routerLink="/WorkoutReport">Workout stats report</button>
    </mat-menu>
    
    <div class="circular-button" [matMenuTriggerFor]="accountMenu" aria-label="View Account">
      <div *ngIf="clientDetails?.clientProfilePicture; else fallbackImage">
        <img src="{{ clientDetails?.clientProfilePicture }}" alt="Profile">
      </div>
      
      <ng-template #fallbackImage>
        <img src="assets/profile.jpg" alt="Image">
      </ng-template>
    </div>
    
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="nav-link active" aria-current="page" (click)="Logout()" id="logout">Logout</a>
  </div>
  
</nav>
<br />
<div class="help-container" id="helphelp">
  <div style="text-align: center;">
    <h6>Help for: Upload Indemnity Form</h6>
  </div>
  Your two options for uploading your indemnity form:
  <ul>
    <li><b>PDF:</b> The normal solution to uploading your filled in document</li>
    <li><b>Image:</b> The system will go through your image and take out all the necessary wording out and put it in a PDF. </li>
    
  </ul>
  Click on the button to close this window
</div>
<div class="container" id="container">
  <h1>Indemnity Form</h1>
  
    <h2>Upload your indemnity form PDF</h2>
    <label for="fileInput" class="file-input-label">Choose File</label>
    <input type="file" id="fileInput" accept=".pdf" (change)="onFileSelected($event)" />
    <br />
    <br />
    <input type="text" [(ngModel)]="title" placeholder="Title" />
    <br />
    <br />
    <button id="submit" class="upload-button" (click)="onUpload()">Upload</button>
 
    <br/>
    <br/>
    <br/>
    <h2>OR</h2>
    <br/>
  
    <h2>Upload your indemnity form image</h2>
    <label for="fileInput" class="file-input-label">Choose File</label>
    <input type="file" (change)="onFileSelectedtwo($event)" accept="image/*">
    <br />
    <br />
    <button id="submit" class="upload-button" (click)="onUploadtwo()" >Upload Image</button>
    <div class="help-button-container">
      <button mat-icon-button class="help-button" (click)="toggleHelp()" style="text-align: center;">
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
  </div>

  <div class="modal" id="myModal" style="display: none;" >
    <div class="modal-dialog" id="Dialog">
      <div class="modal-content" id="Content">
        
        <div class="modal-body" id="modalBody">
          <h4>Your indemnity form has been successfully added</h4>
          <br/>
          <button type="button" class="btn btn-success" (click)="cancel_continue()" id="submit">Continue</button>
        </div>
      </div>
    </div>
  </div>




  
