mat-icon:hover {
    cursor: pointer;
  }

  .circular-button {
    border-radius: 50%;
    overflow: hidden;
    width: 40px; /* Adjust the width and height to your desired size */
    height: 40px;
  }

  .circular-button:hover{
    cursor: pointer;
  }
  
  .circular-button img {
    width: 100%; /* Make the image fill the circular boundary */
    height: 100%; /* Make the image fill the circular boundary */
    object-fit: cover; /* Preserve the image aspect ratio */
  }
  
  a.nav-link.active:hover,
a.nav-link[aria-current='page']:hover {
  cursor: pointer;
}


.rate {
  display: flex; /* Use flexbox to center the stars vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100px; /* Adjust the height to your desired size */
  padding: 0 10px;
  margin: 0 auto; /* Center the stars horizontally on the page */
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:40px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.wholecontainer{
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 6px 0 rgb(41, 167, 2);
}

input,select{
  width: fit-content;
}


.wholecontainer input[type="text"],.wholecontainer select, .wholecontainer textarea
{
  display: block;
  margin: 0 auto; /* Center the inputs horizontally */
  
}

#cancel{
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.6s ease-in-out;
}

#submit{
  background-color: black;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
  border-radius: 30px;
}

#submit:hover{
  background-color: white;
  color: #199709;
  border:black solid 1px;
}
#cancel:hover{
  background-color: white;
  color: rgb(219, 0, 0);
  border:black solid 1px;
}

#modalBody{
  text-align: center;
  border-radius: 12px;
  background-color: white;
  
}
#continue{
  border:black 2px solid;
}
#alert{
  color: red;
}