<nav class="navbar navbar-expand-lg " style="background-color: #F4EEEE;">
  <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" href="#"></a>
  
  <img src="assets/CBT.jpg" style="width: 80px; height: 50px;">
  <div class="container">
    <a class="navbar-brand" routerLink="/companyLanding">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User roles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/pedalprorole" >View Roles</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/pedalprorole/add">Add role</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clients
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/viewClientsClients" >View Clients</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/ViewFeedback" >View Feedback</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddClientType">Add Client type</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/ClientType">View Client types</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/CompanyUploadIF">Upload indmnity form</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employees
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/viewEmployees" >View Employees</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/addEmployee">Add Employee</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/viewEmployeeTypes" >View Employee Types</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/addEmployeeTypes">Add Employee Types</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Booking
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/viewBookingType" >View Booking Types</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/addBookingType">Add Booking Types</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Workout
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/WorkoutType" >View Workout Types</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddWorkoutType">Add Workout Type</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Training Modules
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/traingModuleCompany" >View Training Modules</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/addModule">Add Training Modules</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/trainingmaterial">View Training Material</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/trainingmaterial/add">Add Training Material</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Training Packages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/ViewPackages" >View Training Packages</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddPackage">Add Training Packages</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bicycle
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/BicycleCategory" >View Bicycle Categories</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddBicycleCategory">Add Bicycle Categories</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/BicycleBrand">View Bicycle Brands</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddBicycleBrand">Add Bicycle Brands</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/BicyclePart">View Bicycle Parts</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddBicyclePart">Add Bicycle Part</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Schedule
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="/ViewSchedule" >View Schedule</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/Viewtimeslot">View timeslots</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="/AddTimeSlot">Add timeslots</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="" >Report 1</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="">Report 2</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Other
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link active" aria-current="page" routerLink="" >Backup Database</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link active" aria-current="page" routerLink="">Restore Database</a></li>
            <li><hr class="dropdown-divider"></li>
          <li><a class="nav-link active" aria-current="page" routerLink="/view-managehelp">View Manage Help</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="nav-link active" aria-current="page" routerLink="/addHelp">Add Help</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <mat-icon routerLink="/view-help-company">help_outline</mat-icon>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    
    <a class="nav-link active" aria-current="page" (click)="Logout()" >Logout</a>
  </div>
  
</nav>
  
  <div class="container">
      
      <br/>
      <h1 id="HEADING">PedalPro Roles</h1>
      
      <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th>Name</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody *ngIf="roles.length>0;else noRolesFound">
              <tr *ngFor="let role of roles">
                  
                  <td>{{role.roleName}}</td>
                  <td><button type="button" class="btn btn-success" [routerLink]="['/pedalprorole','edit',role.roleId]">Update</button></td>
                  <td><button type="button" class="btn btn-danger"  (click)="DeleteRole(role.roleId)">Delete</button></td>
                  
                  
              </tr>
          </tbody>
      </table>
      <ng-template #noRolesFound>
        <div class="alert">No roles found.</div>
      </ng-template>
  
      
  </div>
  
  <div class="modal" id="myModal" style="display: none;" >
      <div class="modal-dialog" id="Dialog">
        <div class="modal-content" id="Content">
          
          <div class="modal-body" id="modalBody">
            <h4>User role successfully deleted!</h4>
            <br/>
            <button type="button" class="btn btn-danger"  (click)="ReloadPage()"id="continue">Confirm</button>
          </div>
        </div>
      </div>
    </div>
