<br/>
<br/>
<br/>

<div class="wholecontainer">
    <div class="row justify-content-center">
      <div class="col-md-6">
        
          
            <mat-icon routerLink="/login" aria-label="Back" id="back">keyboard_backspace</mat-icon>
            <h2 class="mb-4">Forgot Password</h2>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input type="email" class="form-control" formControlName="emailAddress" [class.is-invalid]="submitted && f['emailAddress'].errors"
                  required>
                  <div *ngIf="submitted && f['emailAddress'].errors" class="invalid-feedback">
                    <div *ngIf="submitted && f['emailAddress'].hasError('required')">Email address is required.</div>
                    <div *ngIf="submitted && f['emailAddress'].hasError('email')">Invalid email address.</div>
                  </div>
              </div>
              <br/>
              <div class="form-group">
                <button type="submit" id="submit" class="btn btn-success">Send Reset Code</button>
              </div>
              <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
              <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            </form>
          </div>
        </div>
      </div>


      <div class="modal" id="myModal" style="display: none;" >
        <div class="modal-dialog" id="Dialog">
          <div class="modal-content" id="Content">
            
            <div class="modal-body" id="modalBody">
              <h4>If your e-mail exists, you will recieve a code!</h4>
              <br/>
              <button  type="button" class="btn btn-success" id="submit"  (click)="cancel_continue()">Continue</button>
            </div>
          </div>
        </div>
      </div>
