

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative">
<body class="custombdy">
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    
    <img src="assets/CBT.jpg" style="width: 80px; height: 50px;">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="nav-link" (click)="scrollTo('about-us')"><label class="lab">About Us</label></a>
      <a class="nav-link" (click)="scrollTo('contact-section')"><label class="lab">Contact Us</label></a>
      <a class="navbar-brand" routerLink="/login"><button id="submit" mat-raised-button>Log In</button></a>
    </div>
</nav>

<br/>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/cbt_cycles.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <div class="image-overlay">
    <div class="overlay-text">
      <h1 >Callan's Bike Tech</h1>
    </div>
  </div>
  <br/>
</div>

<section id="about-us" class="py-5" data-aos="fade-up" data-aos-duration="2000">
<div class="container">
  <div class="row">
    <div class="col-sm-6 p-0 image-overlay">
      <img src="assets/CBT.jpg" class="img-fluid" alt="Summary">
    </div>
    <div class="col-sm-6 d-flex align-items-center">
      <section id="about-us" class="py-5">
        <h1 class="text-center" class="selector"></h1>
        <br/>
        <p class="lead text-center"> At Callan's Bike Tech we specialize in looking after you and your bike. We sell bicycles as well, but our main focus is on our workshop. We know that even the most expensive bike, if not maintained properly, will not be fun to ride and we are here to help you squeeze every bit of fun out of your bike that you can.</p>
      </section>
    </div>
  </div>
</div>
</section> <br/>

<div id="contact-section" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Contact Information</h2>
        <p>
          Address: Shop 13 Jacaranda Center, Hilton Ave, Leonard, Pietermaritzburg, 3245
        </p>
        <p>
          Phone: 078 242 7074
        </p>
        <p>
          Email: info@callansbiketech.co.za
        </p>
        <h2>Opening Hours</h2>
        <p>
          Monday - Friday: 08:00 AM - 5:00 PM
        </p>
        <p>
          Saturday: 09:00 AM - 12 PM
        </p>  
        <p>
            Sunday: Closed
        </p>
        
        
    <h2>Follow Us</h2>
        <div class="social-icons">
            <a href="https://www.instagram.com/callans_biketech/?hl=en" target="_blank">
                <i class="fa fa-instagram" style="font-size: 30px; color: black;margin-left: 20px;" aria-hidden="true"></i>
                <!-- Instagram Icon -->
              </a>
    
              <a href="https://www.facebook.com/CBTHilton/" target="_blank" style="margin-left: 20px;">
                <i class="fa fa-facebook" style="font-size: 30px; color: black; " aria-hidden="true"></i>
                <!-- Facebook Icon -->
              </a>
        </div>


      </div>
        <div class="col-md-8">
         <div class="map-container">
            <div class="map">
                <a href="https://www.google.com/maps/place/Callan's+Bike+Tech/@-29.5545456,30.2982907,17z/data=!3m1!4b1!4m6!3m5!1s0x1ef6a506579beda1:0x7a35892718ca24ce!8m2!3d-29.5545503!4d30.3008656!16s%2Fg%2F11bwflym1m?entry=ttu" target="_blank"> <img src="assets/Map.png" alt="Image 1"></a>
            </div>
         </div>
        </div>
    </div>
</div>
</div>

</body>