/* account-details.component.css */

/* ... (previously defined styles) */

.container {
    text-align: center; /* Center the content horizontally */
    max-width: 400px;
    margin: 20px auto; /* Center the container itself */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(41, 167, 2);
    padding: 20px; /* Add padding for better spacing */
    position: relative; /* Set the container as relative for absolute positioning */
  }

  .wholecontainer{
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 6px 0 rgb(41, 167, 2);
  
  }
  
  .wholecontainer input[type="text"],.wholecontainer select
  {
    display: block;
    margin: 0 auto; /* Center the inputs horizontally */
    
  }
  
  #cancel{
    background-color: black;
    color: rgb(219, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.6s ease-in-out;
  }
  
  #submit{
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
    border-radius: 30px;
  }
  
  #submit:hover{
    background-color: white;
    color: #199709;
    border:black solid 1px;
  }
  #cancel:hover{
    background-color: white;
    color: rgb(219, 0, 0);
    border:black solid 1px;
  }
  
  h2 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    /* If you want a border around the image */
    border: 3px solid black;
    margin: 0 auto 10px; /* Center the image within the container and add margin at the bottom */
  }

  .profile-image:hover {border: 3px solid #39eb0d;}
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Edit button for the entire account details */
  .edit-icon {
    background-color: black;
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Push the button to the right */
  }
  
  .edit-icon:hover {
    background-color: #39eb0d;
  }
  
  .edit-icon mat-icon {
    font-size: 20px;
  }

#back{
    text-align: left;
    
}
  
  mat-icon:hover {
    cursor: pointer;
    
  }

  #modalBody{
    text-align: center;
    border-radius: 12px;
    background-color: white;
    
  }
  #continue{
    border:black 2px solid;
  }
  #alert{
    color: red;
  }